[user]
    name = chiro
    email = peanut2626@gmail.com

[core]
    autocrlf = false
    safecrlf = true
    excludesfile = ~/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    br = branch
    b = branch -v
    ci = commit
    co = checkout
    df = diff
    lg = log --pretty=oneline --graph --abbrev-commit --decorate
    s = status
    st = status
    sh = show
    unstage = reset HEAD --
    rb = rebase

[push]
    default = simple
