[user]
    name = chiro
    email = i@chir.jp

[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    br = branch
    b = branch -v
    ci = commit
    co = checkout
    df = diff
    lg = log --pretty=oneline --graph --abbrev-commit --decorate
    s = status
    st = status
    sh = show
    unstage = reset HEAD --
    rb = rebase
    # Checkout a remove branch
    cr = !git branch -r | peco --prompt 'BRANCH>' | cut -d'/' -f2- | xargs git checkout
    # Show all defined aliases
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    # Delete a branch selected by peco
    bd = !git branch | grep -Ev '\\*|master|main' | peco | xargs git branch -D

[pull]
    ff = only

[ghq]
    root = ~/src
