## Emacs
*~
tramp
auto-save-list
.emacs.d/.lsp-session-v1
.emacs.d/elisp
.emacs.d/eln-cache
.emacs.d/elpa/
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/transient
.emacs.d/url
/eshell/history
/eshell/lastdir

## C, C++
### Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj

### Compiled libraries
*.so
*.dll
*.la
*.a

### Executables
*.exe
*.out

## Coq
*.vo
*.glob
*.v.d

## Elisp
*.elc

## Haskell
dist/
cabal-dev/
*.o
*.hi
*.chi
*.chs.h
.cabal-sandbox/
cabal.sandbox.config

## OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxa
*.cmxs

## Vagrant
.vagrant/

## Ruby
/.bundle/
/vendor/

# direnv
.envrc
